# Виртуальное окружение
venv/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# PyInstaller
build/
dist/
*.spec

# Логи и временные файлы
/tmp/
*.log
*.bak

# Системные файлы
.DS_Store
Thumbs.db

# Операционная система
*.swp
*~
